@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quattrocento Sans", sans-serif;
}

.container {
    /* min-height: 100vh; */
    background-color: #ecebe9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.container input {
    background-color: transparent;
    height: 30px;
    padding: 6px;
    text-align: left;
    border-radius: 5px;
    border: 1.5px solid #383838;
}

.header {
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.tittleHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-left: 20px;
}

.tittle {
    font-size: 1.8em;
    font-weight: 700;
    color: #383838;
}

.navHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    gap: 15px;
}

.navBtn {
    font-size: 1.1em;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px;
    transition: border-bottom 1s;
    cursor: pointer;
    transition: 0.5s;
}

.navBtn a {
    text-decoration: none;
    color: #383838;
}

.navBtn:hover {
    border-color: #383838;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    font-weight: bold;
}

.main-content {
    min-height: 80vh;
    flex: 1 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "basicInfo" 
    "socialmediaInfo";
    justify-content: center;
}

.first-grid {
    grid-area: basicInfo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-width: 550px;
    font-weight: 700;
    font-size: 0.9em;
}

.first-grid input {
    background-color: white;
}

.name {
    display: flex;
    gap: 20px;
}

.fullname {
    display: flex;
    flex-direction: column;
    width: 310px;
    gap: 8px;
}

.nickname {
    display: flex;
    flex-direction: column;
    width: 120px;
    gap: 8px;
}

.birthday {
    display: flex;
    flex-direction: column;
    width: 120px;
    gap: 8px;
}

.numberEmail {
    display: flex;
    gap: 20px;
}

.number {
    display: flex;
    flex-direction: column;
    width: 120px;
    gap: 8px;
}

.number2 {
    display: flex;
    flex-direction: column;
    width: 120px;
    gap: 8px;
}

.email {
    display: flex;
    flex-direction: column;
    width: 310px;
    gap: 8px;
}

.addressInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.addressLine1 {
    display: flex;
    gap: 8px;
}

.postcode {
    display: flex;
    flex-direction: column;
    width: 90px;
    gap: 8px;  
}

.address {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 8px;  
}

.numberAddress {
    display: flex;
    flex-direction: column;
    width: 80px;
    gap: 8px;
}

.addressLine2 {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.city {
    display: flex;
    flex-direction: column;
    width: 190px;
    gap: 8px;
}

.state {
    display: flex;
    flex-direction: column;
    width: 190px;
    gap: 8px;
}

.country {
    display: flex;
    flex-direction: column;
    width: 190px;
    gap: 8px;
}


.second-grid {
    grid-area: socialmediaInfo;
    width: 590px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    padding-top: 20px;
    font-weight: 700;
    font-size: 0.9em;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-media input {
    background-color: white;
}

.icon {
    width: 15px;
}

.social-media input {
    width: 150px;
}

.addCancelBtn {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 20px;
}

.addCancelBtn button {
    background-color: #383838;
    border: 1.5px solid transparent;
    color: #ecebe9;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
    font-weight: 1.2em;
    cursor: pointer;
    transition: 0.8s;
}

.addCancelBtn button:hover {
    background-color: white;
    border-color: #383838;
    color: #383838;
}


.footer {
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #383838;
    padding: 20px;
    font-size: 12px;
}

.heartImg {
    width: 13px;
}

.footer a {
    text-decoration: none;
    color: #383838;
    font-weight: 700;
}

/* contacts.html */

.contactListContainer {
    min-height: 80vh;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.contactCard {
    width: 500px;
    max-height: 210px;
    padding: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 0.9em;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.414);
    line-height: 1.4em;
}

.contactCard:hover {
    cursor: auto;
    border: 2.5px solid rgba(0, 0, 0, 0.667);
}